.App {
  background-color: #424242
}
h2{
  display: inline;
}
h1,h2,h3,p,span{
  color: #ffffff;
}
.float-left{
  float: left;
}
.float-right{
  float:right;
}
.margin-5{
  margin: 5px;
}
.margin-10{
  margin: 10px;
}
.margin-15{
  margin: 15px;
}
.margin-20{
  margin: 20px;
}
.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

 button:active{
   background-color: #f65261;
 }
 button:focus{
  background-color: #f65261;
 }





